/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-bottom: 100px;
    background-color: ivory;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

.heading {
    text-align: center;
    font-size: 2.5rem;
    color: rgb(231, 101, 123);
    font-family: "Lato", sans-serif;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 30px;
}

img.heading {
    height: 100px;
}

h1.heading {
    margin-bottom: 20px;
}

.logo {
    text-align: center;
    width: 100px;
    height: 120px;
}

#start-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#pink {
    width: 370px;
    height: 200px;
    background-color: pink;
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px;
}

/*Buttons*/
button {
    display: inline;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px 20px;
    color: black;
    background-color: pink;
    border-radius: 5px;
    width: 120px;
}

#play-btn {
    display: block;
    margin: 20px auto;
    padding: 7px 30px;
    background-color: pink;
    border-radius: 5px;
}